.game-container {
  display: flex;
  gap: 20px; /* space between boards */
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.cell {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
}
.cell:hover {
  background-color: lightblue;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: lightgray;
}

.cell.ship {
  background-color: green;
}
