.game-container {
  display: flex;
  gap: 20px; /* space between boards */
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.cell {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
}
.cell:hover {
  background-color: lightblue;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: lightgray;
}

.cell.ship {
  background-color: green;
}

.setup-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#carrier.vertical {
  height: 150px;
  width: 30px;
  background-color: green;
}

#battleship.vertical {
  height: 120px;
  width: 30px;
  background-color: green;
}
#destroyer.vertical,
#submarine.vertical {
  height: 90px;
  width: 30px;
  background-color: green;
}
#patrolBoat.vertical {
  height: 60px;
  width: 30px;
  background-color: green;
}

/* Horizontal for ships*/

#carrier.horizontal {
  height: 30px;
  width: 150px;
  background-color: green;
}

#battleship.horizontal {
  height: 30px;
  width: 120px;
  background-color: green;
}
#destroyer.horizontal,
#submarine.horizontal {
  height: 30px;
  width: 90px;
  background-color: green;
}
#patrolBoat.horizontal {
  height: 30px;
  width: 60px;
  background-color: green;
}
.rotate-vert {
  height: 300px;
  width: 300px;
  display: flex;
  gap: 20px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.rotate-hori {
  height: 300px;
  width: 300px;
  display: flex;
  gap: 20px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.player-name,
.computer-name {
  text-align: center;
}

.hidden {
  display: none !important;
}
